@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #257180;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all 0.5s ease-in-out; 
}

.keyboard 
{
    height: auto;
    background-color: #F2E5BF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 30px;
}

 @-webkit-keyframes key-pop {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              transition: all ease-in-out 0.3s;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
              transition: all ease-in-out 0.3s;
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              transition: all ease-in-out 0.3s;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
              transition: all ease-in-out 0.3s;
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              transition: all ease-in-out 0.3s;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
              transition: all ease-in-out 0.3s;
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              transition: all ease-in-out 0.3s;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
              transition: all ease-in-out 0.3s;
    }
  }
  
.key {
    background-color: #CB6040;
    margin: 2px;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;

}
.key:hover {
    background-color: #FD8B51;
    transition: all 0.3s ease-in-out;
    animation: key-pop 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

}


.ctrl, .alt, .delete {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem solid grey;
    font-size: 2rem;
    cursor: pointer;    
}
